
@{
    ViewBag.Title = "Success";
}

<div>
    <h1>Thank you! You have successfully submitted the request. We will reach out to you asap.</h1>
    <button class="btn-primary">@Html.ActionLink("Return to Home Page", "Index")</button>
</div>

